CarRentalClient/CarRental.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost/CarRental/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CarRental" targetNamespace="http://localhost/CarRental/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://localhost/CarRental/">
      <xsd:element name="getAvailability">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="pickupLocation" type="xsd:string" />
          	<xsd:element name="pickupDate" type="xsd:date"></xsd:element>
          	<xsd:element name="dropOffLocation" type="xsd:string"></xsd:element>
          	<xsd:element name="dropOffDate" type="xsd:date"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAvailabilityResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="carCode" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="rentCar">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="carCode" type="xsd:string"></xsd:element>
      			<xsd:element name="pickupLocation"
      				type="xsd:string">
      			</xsd:element>
      			<xsd:element name="pickupDate" type="xsd:date"></xsd:element>
      			<xsd:element name="dropOffLocation"
      				type="xsd:string">
      			</xsd:element>
      			<xsd:element name="dropOffDate" type="xsd:date"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="rentCarResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="confirmation" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAvailabilityRequest">
    <wsdl:part element="tns:getAvailability" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getAvailabilityResponse">
    <wsdl:part element="tns:getAvailabilityResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="rentCarRequest">
  	<wsdl:part name="parameters" element="tns:rentCar"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="rentCarResponse">
  	<wsdl:part name="parameters" element="tns:rentCarResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CarRentalPortType">
    <wsdl:operation name="getAvailability">
      <wsdl:input message="tns:getAvailabilityRequest"/>
      <wsdl:output message="tns:getAvailabilityResponse"/>
    </wsdl:operation>
    <wsdl:operation name="rentCar">
    	<wsdl:input message="tns:rentCarRequest"></wsdl:input>
    	<wsdl:output message="tns:rentCarResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CarRentalBinding" type="tns:CarRentalPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAvailability">
      <soap:operation soapAction="http://localhost/CarRental/getAvailability"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="rentCar">
      <soap:operation soapAction="http://localhost/CarRental/rentCar"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CarRentalService">
    <wsdl:port binding="tns:CarRentalBinding" name="CarHirePort">
      <soap:address location="http://localhost/CarRental"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
